* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "poppins", serif;
    background-color: #0f172a;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
main .content_container {
    width: 494px;
    background-color: #f1f5f9;
    border-radius: 16px;
    padding: 24px;
}
.content_container .header_container {
    margin-bottom: 40px;
}
.content_container .header_container .title {
    color: #334155;
    font-weight: 700;
    font-size: 32px;
}
.content_container .header_container .subtitle {
    color: #64748b;
    font-weight: 400;
    font-size: 16px;
}
.content_container .social_login_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.content_container .social_login_container .social_login_button {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #334155;
    font-weight: 700;
    box-shadow: 0px 8px 32px -6px rgba(0, 0, 0, 0.25);
}
.content_container .divisor_container {
    font-size: 14px;
    font-weight: 400;
    color: #64748b;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    margin-top: 36px;
}
.content_container .divisor_container .divisor_line {
    width: 200px;
    height: 1px;
    background-color: #cbd5e1;
}
.content_container .inputs_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 36px;
}
.content_container .inputs_container .input_wrapper {
    width: 100%;
    background-color: #e2e8f0;
    border-radius: 8px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0px 16px;

}
.content_container .inputs_container .input_wrapper input {
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1; /*cresce de acordo com a informação*/
    margin-left: 8px;
}
.content_container .inputs_container img {
    width: 16px;
    height: 16px;
}
.content_container .remember_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
.content_container .remember_container .remember_wrapper label {
    font-size: 14px;
    color: #64748b;
    font-weight: 400;
}
.content_container .remember_container .forgot_wrapper a {
    font-size: 14px;
    color: #64748b;
    font-weight: 400; 
}
.content_container .loginButton_container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.content_container .loginButton_container .loginButton {
    background-color: #9333ea;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 0;
    border: none;
    outline: none;
    box-shadow: 0px 8px 32px -6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.content_container .loginButton_container .registerLink {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #334155;
}
.content_container .loginButton_container .registerLink a {
    color: #1e293b;
}