* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "roboto", serif;
    color: #334155;
}
a {
    color: inherit;
    text-decoration: none;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
}
header .menu_container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
}
.logo {
    font-size: 36px;
    font-weight: black;
    color: #5481e7;
}
.logo span {
    color: #334155;
}
header .menu_nav--container {
    display: flex;
    gap: 90px;
}
header .login_button {
    width: 160px;
    height: 44px;
    background-color: #5481e7;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: black;
}
.hero_wrapper {
    width: 100%;
    height: calc(100vh - 78px);
    display: flex;
    justify-content: center;
    background-image: url(img/bg.png);
    background-repeat: no-repeat; /*tira a repeticao da imagem*/
    background-position: center;
    background-size: contain; /*mantem a imagem fixa*/
}
.hero_container {
    width: 100%;
    min-width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.hero_container .title {
    font-size: 64px;
    font-weight: black;
    text-align: center;
    width: 100%;
    max-width: 793px;

}